<h1>Reviews</h1>
<div>
  <%= link_to '新規REVIEW作成', "/reviews/new", method: :get %>
</div>
<div class="review_index">
  <% @reviews.each do |review| %>
    <ul>
      <li><%= review.title %></li>
      <li class="star_dispaly" data-score="<%= review.star %>"></li>
      <li><%= review.memo %></li>
    </ul>
  <% end %>
</div>
